 <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename" >Beocler</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Adresse</p>
           
            <p class="mt-3"><strong>Tel:</strong> <span>...</span></p>
            <p><strong>Email:</strong> <span>...</span></p>
          </div>
         
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Liens utiles</h4>
          <ul>
            <li><a href="#"></a></li>   
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Nos services </h4>
          <ul>
            <li><a href="#">...</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Nous contacter?</h4>
          <p>...</p>
          
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span style="color: #0fb706;">Copyright</span> <strong class="px-1 sitename" >Beocler</strong> <span style="color: #0fb706;">Tous droits reservés</span></p>
      <div class="credits">
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>
<!-- Vendor JS Files -->

  <script src="{{ asset('js/bootstrap.bundle.min.js') }}" ></script>
 
  <script src="{{ asset('js/aos.js') }}" ></script>
  <script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ asset('js/swiper-bundle.min.js') }}"></script>

  <script src="{{ asset('js/main.js')  }}"></script>
