{% extends 'base.html.twig' %}

{% block title %}Béocler - Evaluation
{% endblock %}

{% block body %}

	<main class="main">
		<section id="hero" class="hero section dark-background">
			<div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
				<div class="carousel-item active">
					<img src="{{ asset('images/3.jpg') }}" alt="">
					<div class="carousel-container">
						<h2 class="text-center">{{ test.name }}<br></h2>


					</div>
				</div>

				<!-- End Carousel Item -->
			</div>

		</section>
	</main>

	<br>
	<div class="container section-title mt-5" data-aos="fade-up">
		<h2>Listes des questionsss</h2>
		<input type="hidden" name="patient" value="{{patient.id}}">
		<input type="hidden" name="test" value="{{test.id}}">
		<input type="hidden" name="nbItem" value="{{ items.count() }}">
		{% set nbQuestion = 0 %}
		{% set cpt = 1 %}

	</br>

	<section id="services" class="services section">
		<div class="container">
			<div class="row gy-4">
				{% for item in items %}
					<div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
						<div class="service-item d-flex position-relative h-100">
							<i class="bi bi-brightness-high icon flex-shrink-0"></i>
							<div>
								<h4 class="title" style="color: #0fb706;">
									<a>Question n°{{ cpt }}/{{ items.count() }}</a>
								</h4>

								<div class="description">
									<div class="{{ item.sequence }}">
										{% if item.illustrations.count() > 0 %}
											<div id="carouselItemIllustrations" class="carousel slide" data-bs-ride="carousel">
												<div class="carousel-indicators">
													{% for iteration in 1..item.illustrations|length %}
														<button type="button" data-bs-target="#carouselItemIllustrations" data-bs-slide-to="{{ iteration - 1 }}" class="{{ loop.first ? 'active' }}" aria-current="{{ loop.first ? 'true' : 'false' }}" aria-label="Slide {{ iteration }}"></button>
													{% endfor %}
												</div>
												<div class="carousel-inner">
													{% for illustration in item.illustrations %}
														<div class="carousel-item {{ loop.first ? 'active' : '' }}">
															<img src="{{ asset('images/uploads/item/mini/500x500-' ~ illustration.path) }}" alt="{{ 'illustration500x500-' ~ illustration.item.namefr }}" width="350"/>
														</div>
													{% endfor %}
												</div>
											</div>
										{% else %}
											<h3>{{ item.namefr }}</h3>
										{% endif %}

										<form id="form{{ item.sequence }}">
											{% set responseInDb = false %}
											{% for question in item.questions %}
												{% set responseCourant = null %}
												{% for response in item.responses %}
													{% if response.patient.id == patient.id and evaluation.id == response.evaluation.id %}
														{% set responseInDb = true %}
														{% set responseCourant = response %}
													{% endif %}
												{% endfor %}

												{# Gestion de l'input texte #}
												{% if question.templateQuestion.requiresText %}
													<label>Texte</label>
													<input type="text" name="texte" required="required" value="{{ responseInDb ? responseCourant.text : '' }}">
												{% endif %}

												<input
												type="hidden" name="question{{ nbQuestion }}" value="{{ question.id }}">

												{# Gestion des options multiples #}
												<div>
													<div class="btn-group m-3">
														{% if question.optionResponses.count() > 1 %}
															{% set valName = "" %}
															<div>
																{% if responseCourant == null %}

																	<div class="btn-group m-3">
																		{% for option in question.optionResponses %}
																			<input type="radio" class="btn-check" name="choix{{question.id}}" id="choix{{question.id}}_{{loop.index}}" value="{{option.templateValue.score}}" data-tvalue="{{option.templateValue.name}}" autocomplete="off" required="required">
																			<label class="btn btn-outline-secondary" for="choix{{question.id}}_{{loop.index}}">
																				{{option.name}}
																			</label>
																		{% endfor %}
																	</div>
																{% else %}
																	{#
																																																																																														on récupère le nom du score de la réponse courante pour pouvoir cocher la case dans l'input radio plus bas.
																																																																																														concerne les réponses dans la BDD
																																																																																														#}
																	{% for score in responseCourant.scores %}
																		{% if score.question.id == question.id %}
																			{% set valName = score.valuename %}
																		{% endif %}
																	{% endfor %}
																	<div class="btn-group m-3">
																		{% for option in question.optionResponses %}
																			{#
																																																																																																																													on coche l'option de réponse enregistrée dans la BDD pour la RéponseCourante et on affiche les autres options de réponses décochées.
																																																																																																																													#}
																			{% if valName == option.templateValue.name %}
																				<input type="radio" class="btn-check" name="choix{{question.id}}" id="choix{{question.id}}_{{loop.index}}" value="{{option.templateValue.score}}" data-tvalue="{{option.templateValue.name}}" autocomplete="off" required="required" checked>
																				<label class="btn btn-outline-secondary" for="choix{{question.id}}_{{loop.index}}">
																					{{option.name}}
																				</label>
																			{% else %}
																				<input type="radio" class="btn-check" name="choix{{question.id}}" id="choix{{question.id}}_{{loop.index}}" value="{{option.templateValue.score}}" data-tvalue="{{option.templateValue.name}}" autocomplete="off" required="required">
																				<label class="btn btn-outline-secondary" for="choix{{question.id}}_{{loop.index}}">
																					{{option.name}}
																				</label>
																			{% endif %}
																		{% endfor %}
																	</div>
																{% endif %}
															</div>

															{% set nbQuestion = nbQuestion + 1 %}
														{% else %}
															{% set valName = "" %}
															<div>
																{#
																																																																																															si :le patient viens de démarrer l'évaluation (pas de réponses enregistrées dans la BDD pour cette épreuve) alors 
																																																																																															sinon
																																																																																															#}
																{% if responseCourant == null %}
																	<div class="btn-group m-3">
																		{% for templatevalue in question.templatequestion.templatevalues %}
																			<input type="radio" class="btn-check" name="choix{{ question.id }}" id="choix{{ question.id }}_{{ loop.index }}" value="{{ templatevalue.score }}" data-tvalue="{{ templatevalue.name }}" data-question="{{ question.id }}" autocomplete="off" required="required">
																			<label class="btn btn-outline-secondary" for="choix{{ question.id }}_{{ loop.index }}">
																				{{ templatevalue.name }}
																			</label>
																		{% endfor %}
																	</div>

																{% else %}
																	{% for score in responseCourant.scores %}
																		{% if score.question.id == question.id %}
																			{% set valName = score.valuename %}

																		{% endif %}
																	{% endfor %}
																	<div class="btn-group m-3">
																		{% for templatevalue in question.templatequestion.templatevalues %}
																			{% if valName == templatevalue.name %}
																				<input type="radio" class="btn-check" name="choix{{ question.id }}" id="choix{{ question.id }}_{{ loop.index }}" value="{{ templatevalue.score }}" data-tvalue="{{ templatevalue.name }}" data-question="{{ question.id }}" autocomplete="off" required="required" checked>
																				<label class="btn btn-outline-secondary" for="choix{{ question.id }}_{{ loop.index }}">
																					{{ templatevalue.name }}
																				</label>
																			{% else %}
																				<input type="radio" class="btn-check" name="choix{{ question.id }}" id="choix{{ question.id }}_{{ loop.index }}" value="{{ templatevalue.score }}" data-tvalue="{{ templatevalue.name }}" data-question="{{ question.id }}" autocomplete="off" required="required">
																				<label class="btn btn-outline-secondary" for="choix{{ question.id }}_{{ loop.index }}">
																					{{ templatevalue.name }}
																				</label>
																			{% endif %}
																		{% endfor %}
																	</div>
																{% endif %}
															</div>
															{% set nbQuestion = nbQuestion + 1 %}
														{% endif %}
														{# {% endif %} #}

														{% if question.templateQuestion.requiresAudio %}
															<p>Un fichier audio doit être enregistré</p>
														{% endif %}

														{% if question.templateQuestion.isCustomScore %}
															<p>Un score doit être manuellement saisi</p>
														{% endif %}

													</div>
												</div>

												{% set nbQuestion = nbQuestion + 1 %}
											{% endfor %}
											<input type="hidden" name="nbQuestion" value="{{ nbQuestion }}">
											{% set nbQuestion = 0 %}
										</form>
									</div>

									<div
										class="d-flex justify-content-center mt-3">
										{# <button class="m-3 mt-0 btn btn-secondary" id="preced{{ item.sequence }}" onclick="questionP()">Question précédente</button> #}
										<button class="m-3 mt-0 btn btn-primary" id="submit{{ item.sequence }}" data-item="{{ item.id }}" onclick="AjaxReq()">Valider</button>
									</div>
									<input type="hidden" name="skip" value="{{ responseInDb }}">
								</div>
							</div>
						</div>
					</div>
					{% set cpt = cpt + 1 %}
				{% endfor %}
			</div>
		</div>
	</section>


</div>{% endblock %}{% block javascripts %}
{{parent()}}
<script src="{{ asset('js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ asset('js/evaluation.js') }}"></script>{% endblock %}
