{% block body %}
	<br>
	<div class="container section-title mt-5" data-aos="fade-up">
		<h2>Items activés pour cette épreuve</h2>

	</div>

	<section id="services" class="services section">
		<div class="container">
			<div class="row gy-4">

				{% for item in test.items %}
					{% if item.active%}

						<div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
							<div class="service-item d-flex position-relative h-100">
								<i class="bi bi-brightness-high icon flex-shrink-0"></i>
								<div>

									<h4 class="title" style="color: #0fb706;">
										<a href="{{ path('item_detail', {id : item.id})}}">{{item.namefr | capitalize}}</a>
									</h4>

									<p class="description">
										{% if item.namecr %}
											<li class="list-group-item">Nom créole :
												{{item.namecr | capitalize}}</li>
										{% endif %}
										{% if item.schoolgrade %}
											<li class="list-group-item">Niveau :
												{{item.schoolgrade.name}}</li>
										{% endif %}

									</p>

									{% if app.request.attributes.get('_route') == 'admin_test_edit' %}
										<a href="{{ path('admin_item_edit', {idTest: testRoute, idItem : item.id})}}" class="m-3 mt-3 btn btn-outline-secondary">
											Modifier cet item
										</a>
									{% endif %}


								</div>
							</div>
						</div>

						<br>
					{% endif %}
				{% endfor %}
			</div>

		</div>
	</section>

{% endblock %}
